<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="container">
        <div class="row">

            <div class="header-info col-lg-8 col-md-10 col-12">
                <div class="hero-text mt-5">
<!-- 
                    <h1 class="text-white"><span class="goldtext">Omni</span>gym
                    </h1>

                    <h6>At Omni Gym we believe in the importance of proactivity as it relates to success. We are a scheduled training facility – all workouts are scheduled beforehand. </h6>

                    <a href="#about" class="btn custom-btn bordered mt-3">learn
                        more about us</a> -->

                </div>
            </div>

        </div>
    </div>

    <div class="after"></div>
    <div class="bg-overlay-home"></div>
</section>

<section class="title-feature" id="feature">
    <div class="container">
        <div class="row">

            <div class="header-info col-lg-8 col-md-10 col-12">
                <div class="hero-text mt-5" id="titleText">

                    <h1 class="text-white website-title"><span class="goldtext">Omni</span>gym
                    </h1>

                    <h6 class="title-desc">Stop wasting time and money and finally get the results you want!</h6>

                    <a href="#about" class="btn learn-more-btn custom-btn bordered mt-3">learn
                        more about us</a>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="feature2" id="feature">
    <div class="container">
        <div class="row">

            <div class="col-lg-11 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center col-lg-11 col-md-10 mx-auto col-12" id="trainingText">

                    <h1 class="text-white training-title"><span class="goldtext">Our Training</span> Programs
                    </h1>
                </div>
            </div>

        </div>

        <div class="row genfitrow">

            <div class="col-sm-4 col-gen-home">
                <img src="../assets/images/Home Page-General Fitness.jpg" width="350" height="400" class="genfithome tabletview">
            </div>
            <div class="col-sm-4 col-md-6 right-home-col"> 
                <!-- <div class="hero-text mt-5 text-center"> -->

                    <h2 class="mb-3 text-white"><span class="goldtext">GENERAL FITNESS</span> PROGRAMS</h2>
                    <h6 class="mb-3">If you are looking to get in better shape to do the things you love to do, we are here for you. Our programs are designed to help you look and feel the way you want, be healthier and live longer.</h6>
                    <a href="general-fitness" class="btn custom-btn bg-color mt-3">Learn More</a>
                <!-- </div> -->
            </div>

        </div>

        <div class="row genfitrow2 homepage-computer-view">
            <div class="col-sm-3 col-md-6">
                <!-- <div class="hero-text mt-5 text-center"> -->

                    <h2 class="mb-3 text-white"><span class="goldtext">ATHLETIC PERFORMANCE</span> PROGRAMS</h2>
                    <h6 class="mb-3">Are you an athlete looking to take your performance to the next level? We will get you bigger, stronger, and faster and teach you how to rise to the top of your sport!</h6>
                    <a href="athletic-performance" class="btn custom-btn bg-color mt-3">Learn More</a>
                <!-- </div> -->
            </div>
            <div class="col-sm-3 col-gen-home-2">
                <img src="../assets/images/Homepage-Athletic Performance.jpg" width="350" height="400" class="genfithome tabletview">
            </div>

        </div>

        <div class="row genfitrow homepage-mobile-view">
            <div class="col-sm-3 col-gen-home-2">
                <img src="../assets/images/Homepage-Athletic Performance.jpg" width="350" height="400" class="genfithome">
            </div>
            <div class="col-sm-3 col-md-ath">

                    <h2 class="mb-3 text-white"><span class="goldtext">ATHLETIC PERFORMANCE</span> PROGRAMS</h2>
                    <h6 class="mb-3">Are you an athlete looking to take your performance to the next level? We will get you bigger, stronger, and faster and teach you how to rise to the top of your sport!</h6>
                    <a href="athletic-performance" class="btn custom-btn bg-color mt-3">Learn More</a>
            </div>
        </div>

    </div>
</section>