

     <!-- HERO -->
     <section class="banner-hero-about d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center" id="aboutText">
                                   
                              </div>
                         </div>

                    </div>
               </div>
          <div class="after3"></div>
     </section>

     <section class="feature-general" id="feature">
      <div class="container">
          <div class="row about-row">
    
              <div class="mx-auto text-center">
                  <div class="header-info">
    
                      <h1 class="text-white gen-title"><span class="goldtext">ABOUT</span> OMNIGYM
                      </h1>
    
                  </div>
              </div>
    
          </div>
      </div>
    </section>


     <section class="feature bottom-feature" id="feature">
        <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5">
                    <h2 class="mb-4 about-title athletic-body ">We are OmniGym</h2>

                    <p class="athletic-body">At Omni Gym we take a “wholistic” approach to your health. There is no one workout, diet, or supplement that is going to give you results overnight. We strive to make fitness as simple as possible, and get you where you want to be by taking the guesswork out of your training and nutrition.</p>

                    <p class="athletic-body">We understand that everyone has a different history when it comes to training, so we strive to treat you as an individual, from the intake process through the completion of your workouts.  
                    Through our principle based approach to training we will help you reach whatever goals you have.</p>
                      
                    <p class="athletic-body">We are a scheduled training facility, meaning all workouts are scheduled beforehand, because we believe proactivity and accountability strongly correlate with success.</p>


                </div>

            </div>
        </div>
    </section>