

     <!-- HERO -->
     <section class="banner-hero-about d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center" id="aboutText">

                                    <!-- <h1 class="text-white"><span class="goldtext">About</span> Omnigym</h1> -->
                                   
                              </div>
                         </div>

                    </div>
               </div>
          <div class="after3"></div>
     </section>

     <section class="feature-general" id="feature">
      <div class="container">
          <div class="row">
    
              <div class="mx-auto text-center">
                  <div class="header-info">
    
                      <h1 class="text-white gen-title"><span class="goldtext">ABOUT</span> OMNIGYM
                      </h1>
    
                  </div>
              </div>
    
          </div>
      </div>
    </section>


     <section class="feature bottom-feature" id="feature">
        <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5">
                    <h2 class="mb-4 about-title athletic-body ">We are OmniGym</h2>

                    <p class="athletic-body">At Omni Gym we take a “wholistic” approach to your health. There is no one workout, diet, or supplement that is going to give you results overnight. We strive to make fitness as simple as possible, and get you where you want to be by taking the guesswork out of your training and nutrition.</p>

                    <p class="athletic-body">We understand that everyone has a different history when it comes to training, so we strive to treat you as an individual, from the intake process through the completion of your workouts.  
                    Through our principle based approach to training we will help you reach whatever goals you have.</p>
                      
                    <p class="athletic-body">We are a scheduled training facility, meaning all workouts are scheduled beforehand, because we believe proactivity and accountability strongly correlate with success.</p>

                    <!-- <h2 class="mb-4 about-title">Owners</h2>

                    <h2 class="mb-4 about-title">Trainers</h2> -->

                </div>

                <!--<div class="ml-lg-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="700">
                    <div (click)="setInfoCardName('paige')" class="team-thumb team-card" data-toggle="modal" data-target="#profileCard">
                        <img src="../../assets/images/Headshot-Placeholder.png" class="img-fluid" alt="Trainer">

                        <div class="team-info d-flex flex-column team-card">

                            <h3>Paige Maguire</h3>
                            <span>Personal Trainer</span>

                            <ul class="social-icon mt-3">
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->

                <!--<div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
                    <div (click)="setInfoCardName('kyle')" class="team-thumb team-card" data-toggle="modal" data-target="#profileCard">
                        <img src="../../assets/images/Headshot-Placeholder.png" class="img-fluid" alt="Trainer">

                        <div class="team-info d-flex flex-column">

                            <h3>Kyle Henrick</h3>
                            <span>Personal Trainer</span>

                            <ul class="social-icon mt-3">
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </section>


    <!-- Modal -->
    <!--<div class="modal fade" id="profileCard" tabindex="-1" role="dialog" aria-labelledby="profileCardLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">

            <h2 *ngIf="infoCard === 'kyle'" class="modal-title" id="profileCardLabel">Meet Kyle</h2>
            <h2 *ngIf="infoCard === 'paige'" class="modal-title" id="profileCardLabel">Meet Paige</h2>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <img src="../../assets/images/Headshot-Placeholder.png" *ngIf="infoCard === 'kyle'" class="img-fluid profile-img" alt="Trainer">
            <img src="../../assets/images/Headshot-Placeholder.png" *ngIf="infoCard === 'paige'" class="img-fluid profile-img" alt="Trainer">

            <p *ngIf="infoCard === 'kyle'" class="team-body">KYLE'S BIO: This is where the about you text will go with full bio. You can write as much or as little as you want and this card should adjust to handle this text.</p>
            <p *ngIf="infoCard === 'paige'" class="team-body">PAIGE'S BIO: This is where the about you text will go with full bio. You can write as much or as little as you want and this card should adjust to handle this text.</p>
          </div>

          <div class="modal-footer"></div>

        </div>
      </div>
    </div>-->