


     <!-- HERO -->
     <section class="banner-hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center">

                                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500"><span class="goldtext">Our Training</span> Programs</h1>
                                   
                              </div>
                         </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-8 col-md-10 mx-auto col-12">
                             <div class="hero-text mt-5 text-center">

                                   <h2 class="text-white" data-aos="fade-up" data-aos-delay="500"><span class="goldtext">GENERAL FITNESS</span> PROGRAMS</h2>
                                  
                             </div>
                        </div>

                   </div>
               </div>
     </section>


    <!-- <section class="feature" id="feature">
        <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12 pilars">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Pillar One</h2>
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                     <div class="about-working-hours">
                          <div>

                                <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                                <p data-aos="fade-up" data-aos-delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
                           </div>
                      </div>
                </div>

            </div>

            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12 pilars">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Pillar Two</h2>
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                     <div class="about-working-hours">
                          <div>

                            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                            <p data-aos="fade-up" data-aos-delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
                           </div>
                      </div>
                </div>

            </div>

            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12 pilars">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Pillar Three</h2>
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                     <div class="about-working-hours">
                          <div>

                            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                            <p data-aos="fade-up" data-aos-delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
                           </div>
                      </div>
                </div>

            </div>
        </div>
    </section> -->


    <section class="feature" id="personal">
      <div class="container">

          <div class="row">
  
              <!-- <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12"> -->
              <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5">
                  <h2 class="mb-3 text-white" data-aos="fade-up"><span class="goldtext">PERSONAL </span>TRAINING</h2>
  
                  <h6 class="mb-4 text-white" data-aos="fade-up">At Omni Gym we strive to treat you as an individual, from the intake process through the completion of your workouts we keep you, and your goals in mind.</h6>

                  <h6 class="mb-4 text-white" data-aos="fade-up">Personal training includes a customized program based upon what YOU need. After your initial assessment where we will go through your injury history and training history, we will help you set appropriate short and long term goals. You will work with a trainer one on one to get the results you deserve.</h6>
  
              </div>
  
          </div>
      </div>
  </section>
  
  <section class="feature" id="feature">
      <div class="container">
          <div class="row">
              <div
                  class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 about-text">
                  <h2 class="mb-3 text-white" data-aos="fade-up"><span class="goldtext">SEMI-PRIVATE </span>TRAINING</h2>
  
                  <h6 class="mb-4 text-white" data-aos="fade-up">Semi-Private Training has all of the same customized benefits as personal training, inside of  a small group  atmosphere. Working alongside others delivers the energetic feel and support of a group while working on a program unique to you and your goals. </h6>
              </div>
  
          </div>
      </div>
  </section>
  
  <section class="feature" id="feature">
      <div class="container">
          <div class="row">
              <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5">
                  <h2 class="mb-3 text-white" data-aos="fade-up"><span class="goldtext">GROUP </span>FITNESS</h2>
  
                  <h6 class="mb-4 text-white" data-aos="fade-up">Group fitness is a fun, cost effective way to train in an energetic group setting, while receiving a personal touch, with no assessment necessary. Regardless of your history you are welcome to train at your own pace inside of our welcoming and supportive environment.</h6>
              </div>
          </div>
      </div>
  </section>

  <section class="banner-hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

       <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto col-12">
                     <div class="hero-text mt-5 text-center">

                           <h2 class="text-white" data-aos="fade-up" data-aos-delay="500"><span class="goldtext">ATHLETIC PERFORMANCE</span> PROGRAMS</h2>
                     </div>
                </div>

           </div>
       </div>
</section>

<section class="feature" id="feature">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5">

                <h6 class="mb-4 text-white" data-aos="fade-up"> Whether you are an athlete looking to take the next step in your career to college or the professional level, or you are a younger athlete looking to make the varsity team at your high school we work with you to optimize your performance. Along with building the necessary athletic qualities of strength, speed and explosiveness we will reduce your risk of injury, teach you proper exercise technique and how to rise to the top of your sport. Along with developing your athletic ability, at Omni Gym you will develop confidence, self esteem, and grow to be leaders on your team, in your school, and community. By investing your time and energy at Omni Gym you will create lifelong habits in exercise and nutrition that will go beyond your career as an athlete. Most of all you will have FUN doing it!</h6>

                <h6 class="mb-4 text-white" data-aos="fade-up"> After an initial assessment you will be placed in one of two training options:
                <ol>
                    <li>Personal Training</li>
                    <li>Semi-Private</li>
                </ol>
                </h6>

                <h6 class="mb-4 text-white" data-aos="fade-up"> Want to train with your team? Contact Paige to schedule a consult about how we can help you reach your goals this season - - - booster/parent to collect/organize – capped at 15.
                </h6>
            </div>
        </div>
    </div>
</section>


    <!-- Modal -->
    <div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">

            <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form class="membership-form webform" role="form">
                <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

                <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

                <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>

                <button type="submit" class="form-control" id="submit-button" name="submit">Submit Button</button>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="signup-agree">
                    <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                    </label>
                </div>
            </form>
          </div>

          <div class="modal-footer"></div>

        </div>
      </div>
    </div>