


     <!-- HERO -->
     <section class="banner-hero-programs d-flex flex-column justify-content-center align-items-center" id="home">

        <div class="bg-overlay"></div>

           <div class="container">
                <div class="row">

                     <div class="col-lg-8 col-md-10 mx-auto col-12">
                          <div class="hero-text mt-5 text-center">

                                <h1 class="text-white"><span class="goldtext">Athletic Performance</span> Training</h1>
                               
                          </div>
                     </div>

                </div>

           </div>

        <div class="after2"></div>
 </section>


<!-- <section class="feature" id="feature">
    <div class="container">
        <div class="row">

            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12 pilars">
                <h2 class="mb-3 text-white" data-aos="fade-up">Pillar One</h2>
            </div>

            <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                 <div class="about-working-hours">
                      <div>

                            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                            <p data-aos="fade-up" data-aos-delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
                       </div>
                  </div>
            </div>

        </div>

        <div class="row">

            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12 pilars">
                <h2 class="mb-3 text-white" data-aos="fade-up">Pillar Two</h2>
            </div>

            <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                 <div class="about-working-hours">
                      <div>

                        <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                        <p data-aos="fade-up" data-aos-delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
                       </div>
                  </div>
            </div>

        </div>

        <div class="row">

            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12 pilars">
                <h2 class="mb-3 text-white" data-aos="fade-up">Pillar Three</h2>
            </div>

            <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                 <div class="about-working-hours">
                      <div>

                        <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                        <p data-aos="fade-up" data-aos-delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc sed augue lacus.</p>
                       </div>
                  </div>
            </div>

        </div>
    </div>
</section> -->

<section class="feature" id="feature">
<div class="container">
    <div class="row">
        <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5">

            <h6 class="mb-4 text-white"> Whether you are an athlete looking to take the next step in your career to college or the professional level, or you are a younger athlete looking to make the varsity team at your high school we work with you to optimize your performance. Along with building the necessary athletic qualities of strength, speed and explosiveness we will reduce your risk of injury, teach you proper exercise technique and how to rise to the top of your sport. Along with developing your athletic ability, at Omni Gym you will develop confidence, self esteem, and grow to be leaders on your team, in your school, and community. By investing your time and energy at Omni Gym you will create lifelong habits in exercise and nutrition that will go beyond your career as an athlete. Most of all you will have FUN doing it!
            </h6>

            <h2 class="mb-3 text-white"><span class="goldtext">ATHLETES WE HAVE </span>WORKED WITH</h2>
            <ul class="mb-3 text-white">
              <li><h6 class="text-white">Olympic and Professional Hockey</h6></li>
              <li><h6 class="text-white">MLB</h6></li>
              <li><h6 class="text-white">NFL</h6></li>
              <li><h6 class="text-white">High School and College Athletes of every level and sport</h6></li>
            </ul>
        </div>
    </div>
</div>
</section>
      <!-- <section class="contact section" id="contact">
        <div class="container">
             <div class="row">

                  <div class="ml-auto col-lg-5 col-md-6 col-12">
                      <h2 class="mb-4 pb-2 contact-text" data-aos="fade-up" data-aos-delay="200"><span class="goldtext">CONTACT </span>US</h2>

                      <form action="contact-form-handler.php" method="POST" enctype="multipart/form-data" name="EmailForm" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                          <input type="text" class="form-control" name="cf-name" placeholder="Name">

                          <input type="email" class="form-control" name="cf-email" placeholder="Email">

                          <textarea class="form-control" rows="5" name="cf-message" placeholder="Message"></textarea>

                          <button type="submit" class="form-control" id="submit-button" name="submit" value="Submit">Send Message</button>
                      </form>
                  </div>

                  <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                      <h2 class="mb-4 contact-text" data-aos="fade-up" data-aos-delay="600"><span class="goldtext">WHERE TO </span>FIND US</h2>
                      <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> The Lots, 37 W Water St. Wakefield, MA 01880</p>
<!-- How to change your own map point
  1. Go to Google Maps
  2. Click on your location point
  3. Click "Share" and choose "Embed map" tab
  4. Copy only URL and paste it within the src="" field below
-->
                      <!-- <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2941.4891936601516!2d-71.07039728467302!3d42.50241107917753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e373347304cf97%3A0x925f032180205cc6!2s37%20Water%20St%2C%20Wakefield%2C%20MA%2001880!5e0!3m2!1sen!2sus!4v1626308274085!5m2!1sen!2sus" width="1920" height="250" style="border:0;" allowfullscreen=""></iframe>
                      </div>
                  </div>
                  
             </div>
        </div>
   </section> --> 


<!-- Modal -->
<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">

        <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="membership-form webform" role="form">
            <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

            <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

            <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

            <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>

            <button type="submit" class="form-control" id="submit-button" name="submit">Submit Button</button>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="signup-agree">
                <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                </label>
            </div>
        </form>
      </div>

      <div class="modal-footer"></div>

    </div>
  </div>
</div>