
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

           
            <!-- <a class="navbar-brand" href="index.html"><span class="goldtext">OMNI</span>GYM</a> -->

            

            <a href="" [ngClass]="{active: router.url === '/homepage'}"><img src="../assets/images/omnigym-big-logo.png" width="150" height="70"></a>

            <!-- <a class="navbar-brand" href="index.html"><img src="../assets/images/omnigym-big-logo.png" style="width:100px;height:42px;"></a> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <!-- <li class="nav-item">
                        <a href='' [ngClass]="{active: router.url === '/'}" class="nav-link smoothScroll">Home</a>
                    </li> -->

                    <li class="nav-item">
                        <a href='/general-fitness' [ngClass]="{active: router.url === '/general-fitness'}" class="nav-link smoothScroll">General Fitness</a>
                    </li>

                    <li class="nav-item">
                        <a href='/athletic-performance' [ngClass]="{active: router.url === '/athletic-performance'}" class="nav-link smoothScroll">Athletic Performance</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a href='#' class="nav-link dropdown-toggle smoothScroll" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training</a>
                          <div class="dropdown-menu" id="mainDropdown" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href='/general-fitness' [ngClass]="{active: router.url === '/general-fitness'}">GENERAL FITNESS PROGRAMS</a>
                            <a class="dropdown-item" href='/athletic-performance' [ngClass]="{active: router.url === '/athletic-performance'}">ATHLETIC PERFORMANCE TRAINING</a>
                          </div>
                    </li> -->

                    <li class="nav-item">
                        <a href='/about-us' [ngClass]="{active: router.url === '/about-us'}" class="nav-link smoothScroll">About</a>
                    </li>

                    <li class="nav-item">
                        <a href='/contact' [ngClass]="{active: router.url === '/contact'}" class="nav-link smoothScroll">Contact & Hours</a>
                    </li>

                    <!--<li class="nav-item">
                        <a href=  class="nav-link smoothScroll">What We Believe In</a>
                    </li>-->

                    <!--<li class="nav-item">
                        <a href= " class="nav-link smoothScroll">What We're Up To</a>
                    </li>-->
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="https://www.facebook.com/profile.php?id=100015153159445" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/bnboura" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.instagram.com/omnigym__/?hl=en" class="fa fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </nav>
<router-outlet></router-outlet>

<!-- CONTACT -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-sm-7 col-12">
                <div id="hours">

                    <h2 class="mb-4 pb-2 contact-text"><span
                        class="goldtext">WORKING </span>HOURS</h2>


                      <strong class="mt-3 d-block hour-item">Monday-Thursday: <strong class="nostrong">5:00 AM - 6:00 PM</strong></strong>

                      <strong class="mt-3 d-block hour-item">Friday: <strong class="nostrong">5:00 AM - 12:00 PM</strong></strong>

                      <strong class="mt-2 d-block hour-item">Saturday: <strong class="nostrong">6:00 AM - 10:00 AM</strong></strong>

                      <strong class="d-block hour-item">Sunday: <strong class="nostrong">Closed</strong></strong>
                 </div>

                <div class="google-map">
                    <h2 class="mb-4 contact-text"><span class="goldtext">WHERE TO
                    </span>FIND US</h2>
                    <p><i class="fa fa-map-marker mr-1"></i> 1 Burlington Ave, Wilmington, MA 01867</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2939.4337063538605!2d-71.17629569657285!3d42.54608281868765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e30a96a043f509%3A0xe3d98da47e251b33!2s1%20Burlington%20Ave%2C%20Wilmington%2C%20MA%2001887!5e0!3m2!1sen!2sus!4v1670870576296!5m2!1sen!2sus" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        width="1920" height="250" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

            <div class="ml-auto col-lg-5 col-sm-6 col-12">
                <h2 class="mb-4 pb-2 contact-text"><span
                        class="goldtext">TRAINING </span>CALENDAR</h2>

                <h6 class="text-white">Take a look at our upcoming schedule.</h6>
                <div class="mb-4 pb-2 col-lg-5 col-sm-6 col-12">
                <iframe class="calendar-embed" src="https://omnigym.pushpress.com/open/calendar?framed=1" style="border:0;" title="OmniGym Calendar" width="350" height="350" ></iframe>
                </div>

                <div>
                <h2 class="mb-4 pb-2 contact-text"><span
                    class="goldtext">CONTACT </span>US</h2>

                <h6 class="text-white">Click <a class="text-white" href="https://omnigym.pushpress.com/open/interested" class="my-link text-white">Here</a> for Training Inquiries</h6>
                <h6 class="text-white">Email: <a href="mailto:Paige@omnigym.us" class="my-link text-white">Paige@omnigym.us</a></h6>
                <h6 class="text-white">Call us at: (978) 447-1671</h6>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="contact-mobile section" id="contact">
    <div class="container contact-mobile">
        <div class="row">

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-sm-7 col-12">
                <div id="hours">

                    <h2 class="mb-4 pb-2 contact-text"><span
                        class="goldtext">WORKING </span>HOURS</h2>


                      <strong class="mt-3 d-block hour-item">Monday-Thursday: <strong class="nostrong">5:00 AM - 6:00 PM</strong></strong>

                      <strong class="mt-3 d-block hour-item">Friday: <strong class="nostrong">5:00 AM - 12:00 PM</strong></strong>

                      <strong class="mt-2 d-block hour-item">Saturday: <strong class="nostrong">6:00 AM - 10:00 AM</strong></strong>

                      <strong class="d-block hour-item">Sunday: <strong class="nostrong">Closed</strong></strong>
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-sm-7 col-12">
                <div class="google-map">
                    <h2 class="mb-4 contact-text"><span class="goldtext">WHERE TO
                    </span>FIND US</h2>
                    <p><i class="fa fa-map-marker mr-1"></i> 1 Burlington Ave, Wilmington, MA 01867</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2939.4337063538605!2d-71.17629569657285!3d42.54608281868765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e30a96a043f509%3A0xe3d98da47e251b33!2s1%20Burlington%20Ave%2C%20Wilmington%2C%20MA%2001887!5e0!3m2!1sen!2sus!4v1670870576296!5m2!1sen!2sus" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        width="1920" height="250" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-sm-7 col-12">
                <h2 class="mb-4 pb-2 contact-text"><span
                    class="goldtext">TRAINING </span>CALENDAR</h2>

                <h6 class="text-white">Take a look at our upcoming schedule.</h6>
                <iframe class="calendar-embed" src="https://omnigym.pushpress.com/open/calendar?framed=1" style="border:0;" title="OmniGym Calendar" width="100%" height="350" ></iframe>
            </div>
        </div>

        <div class="row">
            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-sm-7 col-12">
                <h2 class="mb-4 pb-2 contact-text"><span
                    class="goldtext">CONTACT </span>US</h2>

                <h6 class="text-white">Click <a class="text-white" href="https://omnigym.pushpress.com/open/interested" class="my-link text-white">Here</a> for Training Inquiries</h6>
                <h6 class="text-white">Email: <a href="mailto:Paige@omnigym.us" class="my-link text-white">Paige@omnigym.us</a></h6>
                <h6 class="text-white">Call us at: (978) 447-1671</h6>
            </div>
        </div>
    </div>
</section>

     <!-- FOOTER-->
     <div class="site-footer">
        <div class="container" id="bottomFoot">
             <div class="row">

                  <div class="ml-auto col-lg-4 col-md-5">
                      <p class="copyright-text">Copyright &copy; 2023 OmniGym
                      
                      <br>Design: <a href="https://www.tooplate.com" class="text-white">Tooplate,</a> Britney Bourassa</p>
                  </div>

                  <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                      <p class="mr-4">
                          <i class="fa fa-envelope-o mr-1"></i>
                          <a class="text-white" href="mailto: bnbourassa@gmail.com">bnbourassa@gmail.com</a>
                      </p>

                      <p><i class="fa fa-phone mr-1"></i> 978-935-3875</p>
                  </div>
                  
             </div>
        </div>
    </div> 