


     <!-- HERO -->
     <section class="banner-hero-programs d-flex flex-column justify-content-center align-items-center" id="home">

        <div class="bg-overlay"></div>

      <div class="after2">
      </div>

      <!-- <h1 class="text-white"><span class="goldtext">General Fitness</span> Programs</h1> -->
 </section>

 <section class="feature-general" id="feature">
  <div class="container">
      <div class="row">

          <div class="mx-auto text-center">
              <div class="header-info">

                  <h1 class="text-white gen-title"><span class="goldtext">GENERAL FITNESS</span> PROGRAMS
                  </h1>

              </div>
          </div>

      </div>
  </div>
</section>

<section class="feature bottom-feature">
  <div class="container">

    <div class="row genfitrow">

      <div class="col-sm-3 col-gen-home">
          <img src="../assets/images/General Fitness Page-General Fitness Option 1.jpg" width="350" height="400" class="genfithome">
      </div>
      <div class="col-sm-3 col-md-6"> 
          <!-- <div class="hero-text mt-5 text-center"> -->

              <h2 class="mb-3 text-white"><span class="goldtext">SMALL GROUP</span> TRAINING</h2>
              <h6 class="mb-3 text-white">Small Group Training is fun and challenging! You get the attention of a trainer who is able to cater to your individual needs, with the  energy and support of a group. Our groups are anywhere from 2-6 people, so if you need a modification or a little more attention we got you covered! No more getting lost in the shuffle of a bootcamp.</h6>
          <!-- </div> -->
      </div>
    </div>
  </div>
  
  <div class="container personal-train-computer-view">
    <div class="row genfitrow2">
      <div class="col-sm-3 col-md-6">
          <!-- <div class="hero-text mt-5 text-center"> -->

              <h2 class="mb-3 text-white"><span class="goldtext">PERSONAL</span> TRAINING</h2>
              <h6 class="mb-3 text-white">Personal training includes a customized program based upon what YOU need. We will assess your status and  After your initial assessment where we will go through your injury history and training history, we will help you set appropriate short and long term goals. You will work with a trainer one on one to get the results you deserve.
              </h6>
          <!-- </div> -->
      </div>
      <div class="col-sm-3 col-gen-home-2">
          <img src="../assets/images/General Fitness Page-Personal Training.jpg" width="350" height="400" class="genfithome">
      </div>

  </div>
  </div>

  <div class="container personal-train-mobile-view">
    <div class="row genfitrow">
      <div class="col-sm-3 col-gen-home-2">
        <img src="../assets/images/General Fitness Page-Personal Training.jpg" width="350" height="400" class="genfithome">
      </div>
      <div class="col-sm-3 col-md-ath">
          <!-- <div class="hero-text mt-5 text-center"> -->
        
              <h2 class="mb-3 text-white"><span class="goldtext">PERSONAL</span> TRAINING</h2>
              <h6 class="mb-3 text-white">Personal training includes a customized program based upon what YOU need. We will assess your status and  After your initial assessment where we will go through your injury history and training history, we will help you set appropriate short and long term goals. You will work with a trainer one on one to get the results you deserve.
              </h6>
          <!-- </div> -->
      </div>
  </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">

        <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="membership-form webform" role="form">
            <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

            <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

            <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

            <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>

            <button type="submit" class="form-control" id="submit-button" name="submit">Submit Button</button>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="signup-agree">
                <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                </label>
            </div>
        </form>
      </div>

      <div class="modal-footer"></div>

    </div>
  </div>
</div>